.btnSearch {
    background: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    border-radius: 100%;
}

.btnSearch:hover {
    background-color: #FF882D;
}

.bookHomepage {
    animation: loadingAnim 15s linear infinite;
    box-shadow: rgb(255, 255, 255) 5px 5px 0px 0px;
    border-radius: 1rem;
}

.bookArticle {
    transition: all ease 0.3s;
    background-color: rgb(248, 245, 242);
    padding: 1rem;
    border-radius: 1rem;
    height: 20rem;
    width: 100%;
    max-width: 30rem;
}

.bookArticle:hover {
    transform: scale(105%);
    background-color: rgb(255, 136, 45);
}



@keyframes loadingAnim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

